@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');


body {
  background-color: #FFF2F5;
  height: 100vh;
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
  text-align: center;
  color: #737373;
  font-family: 'Josefin Sans', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

#start-screen {
  margin: 25% auto;
  height: 50%;
}

h1 {
  color: #F190B6;
  margin: 25px;
  font-size: 70px;
}

h2 {
  width: 180px;
  margin: 15px auto;
  font-size: 30px;
}

a {
  color: #F69CBF;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  font-size: 35px;
  color: #FFB9D4;
}

h3 {
  color: #F69CBF;
  margin: 20px auto 5px auto;
  font-size: 25px;
}

#start-screen p {
  width: 75%;
  margin: 25px auto;
  font-size: 20px;
}

select {
  font-size: 20px;
  font-family: 'Josefin Sans', sans-serif;
  background-color: #FFF2F5;
  color: #737373;
  padding: 5px;
  margin: 10px auto 0 auto;
  cursor: pointer;
}

#navbar {
  background-color: #EFBFC6;
  width: 100%;
  height: 70px;
  position: absolute;
  top: 0;
  text-align: left;
}

#navbar img {
  width: 80px;
  height: 100%;
  margin: 0 10px;
}

#navbar h3 {
  color: #FF7CAF;
  position: absolute;
  top: 0;
  left: 60px;
  margin: 25px;
}

#hamburger {
  height: 80%;
  margin: 7px;
  position: absolute;
  top: 0;
  right: 0;
}

#hamburger * {
  width: 40px;
  margin: 10px;
  border: 3px solid #FF7CAF;
}

#wallet {
  position: absolute;
  top: 80px;
  right: 20px;
}

#game-screen h4 {
  font-size: 20px;
}

#game-screen img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

#game-screen #spin {
  width: 100px;
  height: 40px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 25px;
  font-weight: bold;
  background-color:#FFF2F5;
  color: #FF7CAF;
  border-radius: 5px;
  margin: 40px;
}

#rules-screen .container{
  display: flex;
  flex-direction: column;
  margin: 25px;
}

#rules-screen img{
  width: 100px;
  height: 100px;
  object-fit: cover;
}

#rules-screen p {
  line-height: 25px;
  font-size: 20px;
  text-align: left;
  margin: 10px 20px 0 20px;
}