@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

body {
  background-color: #FFF2F5;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  color: #737373;
  height: 100vh;
  width: 100%;
  /* max-width: 500px; */
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  color: #F190B6;
  font-size: 50px;
  margin: 20px auto
}

h2 {
  width: 180px;
  color: #F69CBF;
  font-size: 30px;
  margin: 10px auto;
  cursor: pointer;
}

h2:hover {
  font-size: 35px;
  color: #FFB9D4;
}

h3 {
  color: #F69CBF;
  font-size: 25px;
  margin: 20px auto 10px auto;
}

select, button {
  border-radius: 5px;
  background-color: #FFF2F5;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  color: #737373;
  padding: 5px;
}

p {
  width: 90%;
  max-width: 500px;
  margin: 20px auto;
  line-height: 30px;
}

#navbar nav {
  position: absolute;
  top: 0;
  background-color: #EFBFC6;
  width: 100%;
  height: 100px;
  display: grid;
  /* grid-template-columns: repeat(3, 1fr); */
  grid-template-columns: 100px auto 100px;
  align-items: center;
}

#logo {
  width: 90px;
  height: 100%;
  object-fit: cover;
  margin: 0 25px;
  cursor: pointer;
}

#navbar h3 {
  font-size: 40px;
  color: #FF7CAF;
  margin: 0 auto 0 15px;
}

#hamburger {
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  margin: 0 auto

}

#hamburger * {
  width: 50px;
  margin: 5px;
  border: 4px solid #FF7CAF;
  border-radius: 10px;
}

#rules-screen img {
  border-radius: 10px;
  border: 2px solid black;
  width: 80px;
  height: 80px;
  margin: 5px;
}

#rules-screen .container {
  width: 80%;
  margin: 0 auto;
}

#rules-screen {
  height: 70%;
}

#new-para {
  font-size: 22px;
  color: #F69CBF;
  text-shadow: 0.5px 0.5px #737373;
}

#game-screen img {
  border-radius: 10px;
  border: 2px solid black;
  width: 100px;
  height: 100px;
  margin: 5px;
}

#spin {
  color: #FF7CAF;
  font-size: 25px;
  font-weight: bold;
  margin: 20px;
  padding: 5px 10px;
}

#spin:hover {
  color: #F69CBF;
}

.opacity {
  opacity: 0.5;
}